<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
  <php>
    <ini name="zend.enable_gc" value="0" />
    <ini name="memory_limit" value="-1" />
    <!-- error_reporting(E_ALL); -->
    <ini name="error_reporting" value="32767" />
  </php>

	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/unit/</directory>
      <directory suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./classes/includes/</directory>
        <directory>./tests/</directory>
        <directory>./vendor/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
