/* the entire container */

.woocommerce-checkout #payment .payment_method_securesubmit div.payment_box {
   background: #fff;
   font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
   border-radius: 10px;
}

.woocommerce-checkout #payment .payment_method_securesubmit div.payment_box:before {
   top: -0.90em;
}


/* secure submit branded header */

.securesubmit-header {
   background: #bfbfbf;
   margin: -1em -1em 1em -1em;
   padding: 1em;
   border-radius: 10px 10px 0 0;
}

.securesubmit-header .secure {
   display: block;
   float: left;
   width: 50px;
   height: 50px;
   background-image: url(../images/ss-lock.png);
   background-size: 50px 50px;
}

.securesubmit-header .securesubmit-logo {
   display: block;
   float: right;
   width: 145px;
   height: 17px;
   background-image: url(../images/securesubmit-logo.png);
   background-size: 145px 17px;
   margin-top: 16px;
}


/* custom description paragraph */

.securesubmit-description {
   font-size: 14px;
   padding-top: 5px;

}


/* horizontal break */

.woocommerce-checkout #payment .payment_method_securesubmit hr {
   width: 100%;
   background-color: #bfbfbf;
   margin: 20px 0px;
}


/* take out some of the space next to radio buttons */

.woocommerce-checkout #payment ul.payment_methods li input {
   margin: 0 .5em 0 0;
}


/* creditc card fields labels */

.payment_method_securesubmit div.payment_box .securesubmit_new_card .securesubmit_new_card_info label {
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1px;
}

/* inputs */

.payment_method_securesubmit div.payment_box input {
   background: #fff;
}

.securesubmit-save-cards {
   font-size: 14px;
}

.payment_method_securesubmit input[type="tel"] {
   padding: 0.5278em;
}

/* list of saved cards */

.saved-cards-option {
   padding: 0 10px 10px 10px !important;
}


/* adds extra padding to content sections */

.securesubmit-content {
   padding: 0 .5em;
}


/* screen reader for logo */

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   border: 0;
}


/* clearfix */

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .half-row {
      width: 100% !important;
   }
   .saved-cards-option .button {
      width: 100% !important;
      margin-bottom: 25px !important;
   }
}