/* iframe style fix */

.payment_method_securesubmit iframe {
   width: 100%;
   margin-bottom: 0;
}

/* remove styles from fieldsets */

.payment_method_securesubmit fieldset {
   border: 0;
   font-family: inherit;
   font-size: 100%;
   font-style: inherit;
   font-weight: inherit;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
   padding: 0;
   margin: 0;
}

/* general styles */

.no-bottom-margin {
   margin-bottom: 0 !important;
}

.no-bottom-padding {
   padding-bottom: 0 !important;
}

.no-top-margin {
   margin-top: 0 !important;
}

.no-top-padding {
   padding-top: 0 !important;
}

/* the entire container */

.woocommerce-checkout #payment .payment_method_securesubmit div.payment_box {
   font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important;
   background: #fff !important;
   border-radius: 10px;
   border: 1px solid #dfdcde;
   padding: 0;
   padding-bottom: 2.5em;
}


.woocommerce-checkout #payment .payment_method_securesubmit div.payment_box:before {
   top: -0.99em;
}

/* secure submit branded header */

.securesubmit-header {
   background: #fff;
   padding: 1em 2em;
   border-radius: 10px 10px 0 0;
   border-bottom: 1px solid #dfdcde;
   margin-bottom: 1em;
}

.securesubmit-header .secure {
   display: block;
   float: left;
   width: 50px;
   height: 50px;
   background-image: url(../images/ss-lock@2x.png);
   background-size: 50px 50px;
   margin-left: -8px;
}

.securesubmit-header .securesubmit-logo {
   display: block;
   float: right;
   width: 140px;
   height: 26px;
   background-image: url(../images/heartland-logo@1x.png);
   background-size: 140px 26px;
   margin-top: 12px;
}

/* custom description paragraph */

.securesubmit-description {
   font-size: 14px;
   padding: 5px 1em 0 1em;
}

/* section headers */

.ss-section-header {
   display: block;
   width: 100%;
   clear: both;
}

.ss-section-header h6 {
   font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important;
   font-size: 22px !important;
   color: #6a6a6a !important;
   margin: 0 !important;
   padding: 0 !important;
   text-transform: capitalize !important;
   float: left;
   letter-spacing: normal !important;
}

/* saved cards */

.saved-creditcards-list .button {
   font-size: 12px !important;
}

.saved-card {
   border: 1px #ccc solid;
   padding: 0px;
   margin: 5px 0px;
   height: 63px;
   clear: both;
   background-size: 88px 46px;
   background-repeat: no-repeat;
   background-position: center right;
}

.saved-card.active {
   border-color: #337ab7;
}

.saved-card p {
   margin: 0 !important;
   padding: 0 !important;
   display: block !important;
   line-height: 20px !important;
   font-size: 16px !important;
   font-weight: bold !important;
}

.saved-card p span {
   font-size: 12px;
   font-weight: normal;
   color: #999999;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.saved-card-selector {
   display: inline-block;
   float: left;
   width: 45px;
   padding: 9px 0px 11px 0px;
   text-align: center;
   border-right: 1px #e4e4e3 solid;
   margin-top: 11px;
}

.saved-card-selector input {
   margin: 0 !important;
}

.saved-card-info-new {
   display: inline-block;
   float: left;
   padding-left: 15px;
   height: 41px;
   padding-top: 22px;
}

.saved-card-info {
   display: inline-block;
   float: left;
   padding-left: 15px;
   height: 51px;
   padding-top: 12px;
}

.saved-card-visa {
   background-image: url(../images/ss-visa@2x.png);
}

.saved-card-mastercard {
   background-image: url(../images/ss-mastercard@2x.png);
}

.saved-card-amex {
   background-image: url(../images/ss-amex@2x.png);
}

.saved-card-discover {
   background-image: url(../images/ss-discover@2x.png);
}

.saved-card-jcb {
   background-image: url(../images/ss-jcb@2x.png);
}

.saved-card-new {
   margin-bottom: 0;
}

.securesubmit_new_card_info {
   border: 1px #337ab7 solid;
   margin: -1px 1em 0 1em;
   border-top: 1px #fff solid;
   padding: .4em 2.5em 1.2em 2.5em;

}

/* logged out, no saved cards */

.no-saved-cards .securesubmit_new_card .securesubmit_new_card_info {
   border: 0;
   margin: 0;
   padding: 0;
}

/* saved cards - smaller screens */
@media only screen and (max-width : 530px) {
   .saved-card {
      background-size: 50px auto;
   }
   .saved-card p {
      font-size: 14px;
   }
}

@media only screen and (max-width : 445px) {
   .saved-card {
      background: none;
   }
}

/* horizontal break */

.woocommerce-checkout #payment .payment_method_securesubmit hr {
   width: 100%;
   background-color: #dfdcde;
   margin: 20px 0px;
}

/* take out some of the space next to radio buttons */

.woocommerce-checkout #payment ul.payment_methods li input {
   margin: 0 .5em 0 0;
}

/* credit card fields labels */

.payment_method_securesubmit div.payment_box .securesubmit_new_card .securesubmit_new_card_info label {
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 1px;
}

#heartland-field-body, #heartland-field-wrapper {
   width: 100%;
}


#securesubmit_card_number {
   /*background-image: url(../../assets/images/ss-inputcard-blank@2x.png); */
   background-position: right;
   background-repeat: no-repeat;
   background-size: 77px 40px;
}

#securesubmit_card_number.card-type-visa {
   background-image: url(../../assets/images/ss-inputcard-visa@2x.png);
}

#securesubmit_card_number.card-type-jcb {
   background-image: url(../../assets/images/ss-inputcard-jcb@2x.png);
}

#securesubmit_card_number.card-type-discover {
   background-image: url(../../assets/images/ss-inputcard-discover@2x.png);
}

#securesubmit_card_number.card-type-amex {
   background-image: url(../../assets/images/ss-inputcard-amex@2x.png);
}

#securesubmit_card_number.card-type-mastercard {
   background-image: url(../../assets/images/ss-inputcard-mc@2x.png);
}


/* inputs */

.payment_method_securesubmit input {
   font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
   border: 1px solid #666;
   font-size: 18px;
}

input:focus,
textarea:focus {
   border: 1px solid #3989e3 !important;
   outline: 0;
}

.payment_method_securesubmit div.payment_box input {
   background: #fff;
}

.securesubmit-save-cards {
   font-size: 14px;
}

.payment_method_securesubmit input {
   padding: 15px 13px 13px 13px !important;
   vertical-align: middle;
   font-size: 18px !important;
   line-height: 18px !important;
   border-radius: 0 !important;
}

.payment_method_securesubmit input[type="tel"] {
   padding: 0.5278em;
}


.payment_method_securesubmit input::-webkit-input-placeholder {
   position: relative;
   top: -2px;
}

.payment_method_securesubmit input:-moz-placeholder { /* Firefox 18- */
   position: relative;
   top: -2px;
}

.payment_method_securesubmit input::-moz-placeholder {  /* Firefox 19+ */
   position: relative;
   top: -2px;
}

.payment_method_securesubmit input:-ms-input-placeholder {
   position: relative;
   top: -2px;
}


/* arrow */
.arrow {
   display: inline-block;
   float: left;
   background-image: url(../images/arrow@2x.png);
   background-size: 12px 12px;
   width: 12px;
   height: 12px;
   position: relative;
   top: 7px;
   margin-right: 7px;
}

/* adds extra padding to content sections */

.securesubmit-content {
   padding: 0 1.5em;
}

/*
.securesubmit-content .saved-creditcards-list {
   margin: 0 !important;
   padding: 0 !important;
}

.securesubmit_new_card_info .form-row {
   margin: 0 !important;
   padding: 0 !important;
}
*/


.securesubmit-content .saved-creditcards-list {
   margin-bottom: 0 !important;
   padding-bottom: 0 !important;
}

/* screen reader for logo */

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   border: 0;
}


/* clearfix */

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .half-row {
      width: 100% !important;
   }
   .saved-cards-option .button {
      width: 100% !important;
      margin-bottom: 25px !important;
   }
   .form-row-last {
      margin-top: 15px;
   }
   .securesubmit-content {
      margin: 0px -15px;
   }
   .securesubmit-description {
      padding: inherit 15px;
      text-align: center;
   }
}


/* ALL RETINA DEVICES */

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {

   .securesubmit-header .securesubmit-logo {
      background-image: url(../images/heartland-logo@2x.png);
   }

}
